@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

h1 {
  color: #5085f8;
}

a {
  color: #78dfb4;
}

button {
  color: white;
  background: #5085f8;
}

.error {
  color: #ee9a79;
  border: solid 2px #ee9a79;
  border-radius: 15px;
  padding: 0.75rem;
  margin: 0.75rem;
  text-align: center;
}

.notification {
  color: #78dfb4;
  border: solid 2px #78dfb4;
  border-radius: 15px;
  padding: 0.75rem;
  margin: 0.75rem;
  text-align: center;
}