@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Karla", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 2px #ddd;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.1);
  max-width: 60rem;
  margin: 2% auto;
}
.card-title {
  font-size: 1rem;
  padding-bottom: 0.75rem;
  font-weight: 700;
}
.card-body {
  font-size: 1rem;
}
.card-body a {
  text-decoration: underline;
  color: black;
}