@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Karla', sans-serif;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}

// theme colors
$primary: #5085f8;
$secondary: #78dfb4;
$error: #ee9a79;
$info: #ffc2f7;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-size: 2px;
$base-border-radius: 15px;



h1{
    color: $primary;
}

a{
    color: $secondary;
}

button{
    color: white;
    background: $primary;
}

.error{
    color: $error;
    border: solid $base-border-size $error;
    border-radius: $base-border-radius;
    padding: $base-padding;
    margin: $base-margin;
    text-align: center;
}

.notification{
    color: $secondary;
    border: solid $base-border-size $secondary;
    border-radius: $base-border-radius;
    padding: $base-padding;
    margin: $base-margin;
    text-align: center;
}