@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Supermercado One', cursive;
    line-height: 1.6;
}

img {
    max-width: 100%;
    display: block;
}

a{
    text-decoration: none;
}